<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>

<body>
    <!-- navbar.html -->
    <nav th:fragment="navbar" class="navbar navbar-expand-lg custom-navbar">
        <div class="container-fluid">
            <!-- Home Logo with SVG -->
            <a class="navbar-brand text-white d-flex align-items-center" th:href="@{/}">
                <!-- SVG Icon -->
                <img src="/images/hospital.svg" alt="ApapMedika Logo" style="width: 30px; height: 30px; margin-right: 8px;">
                <!-- Text -->
                <span><i class="bi bi-house-door-fill"></i> Apap Medika</span>
            </a>

            <!-- Toggle button for mobile view -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/policy/all}">Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/company/all}">Company</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>

</html>